In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
album_sales_df = pd.read_csv("../album_data_23/album_export_23countries.csv")
album_sales_df

,date,country,ISO_Code,continent,export,import,balance
0,2015-01-01,Netherlands,NL,Europe,0,6,-6
1,2015-01-01,Taiwan,TW,East Asia,121,0,121
2,2015-01-01,Germany,DE,Europe,3,175,-172
3,2015-01-01,United States,US,North America,34,65,-32
4,2015-01-01,Spain,ES,Europe,0,0,0
...,...,...,...,...,...,...,...
2277,2023-12-01,Canada,CA,North America,315,1,315
2278,2023-12-01,Thailand,TH,S Asia & Oceania,78,0,78
2279,2023-12-01,France,FR,Europe,284,2,283
2280,2023-12-01,Australia,AU,S Asia & Oceania,138,0,138
2281,2023-12-01,Hong Kong,HK,East Asia,362,2,360

In [ ]:
# horizontal stacked bar chart, with the x-axis being the country, and the y-axis being export to each country 2015-2023
import plotly.graph_objects as go

# Sample data
categories = ['Category 1', 'Category 2', 'Category 3']
values1 = [10, 20, 30]
values2 = [15, 10, 5]

# Create figure
fig = go.Figure()

# Add bar for each category
fig.add_trace(go.Bar(
    x=categories,
    y=values1,
    name='Value 1',
    marker_color='indianred'
))

fig.add_trace(go.Bar(
    x=categories,
    y=values2,
    name='Value 2',
    marker_color='lightsalmon'
))

# Change the bar mode to stack
fig.update_layout(barmode='stack')

# Annotations
annotations = []

for i, category in enumerate(categories):
    total_value = values1[i] + values2[i]
    annotations.append(dict(xref='x', yref='y',
                            x=category, y=total_value,
                            text=f'{total_value}%',
                            showarrow=False,
                            font=dict(family='Arial', size=14, color='black'),
                            align='center'))

fig.update_layout(annotations=annotations)

# Show the figure
fig.show()